In [1]:
import pandas as pd
import twint
from pytrends.request import TrendReq
pytrend = TrendReq()

In [2]:
pytrend.build_payload(kw_list=['urban farming'])

In [3]:
df = pytrend.interest_by_region()

In [6]:
df[df['urban farming'] > 0]

                      urban farming
geoName
Australia                        14
Austria                           9
Belgium                          10
Brazil                            1
Canada                           12
Denmark                          17
Ethiopia                         73
France                            2
Germany                           7
Hong Kong                        22
India                             6
Indonesia                        35
Italy                             2
Kenya                            27
Malaysia                         23
Mexico                            2
Netherlands                      16
Philippines                      36
Singapore                        79
South Africa                     26
South Korea                       6
Spain                             2
Sweden                            9
Switzerland                      12
Tanzania                         22
Thailand                          3
Uganda                          100
United Arab Emirates              8
United Kingdom                    6
United States                    15
Vietnam                           1